<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="library_includes :: frontend_libraries" />
    <body>
        <div class="float-right">
            <a role="button" class="btn btn-link" href="/home">Zum Hauptmenü</a>
        </div>

        <div class="container-fluid" style="margin-top: 20px;">

            <div th:if="${display_success}" class="alert alert-success" id="success-alert" role="alert">
                Argument erfolgreich gespeichert!
            </div>

            <div th:if="${groupNumber != null}">
                <h3><a th:text="${groupName}" /></h3>
            </div>
            <div>
                <h3 class="mb-4">Neues Argument anlegen:</h3>
            </div>

            <div th:replace="fragments/create_argument.html :: form"></div>

            <hr style="margin: 80px;">
                <h3 class="mb-4">Übersicht gesammelter Argumente deiner Gruppe:</h3>

                <div class="row">

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                        <h4>Argumente der Betroffenen</h4>
                        <div class="list-group" th:each="actObject,iterStat : ${ecologicArguments}">
                            
                            <a class="list-group-item list-group-item-action flex-column align-items-start color-ecologic">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${actObject.argument}"></h5>
                                    <i class="far fa-trash-alt fa-lg" th:onclick="deleteArgument([[${actObject.id}]])"></i>
                                    <small th:if="${actObject.proArgument}" class="text-muted">PRO-Argument</small>
                                    <small th:unless="${actObject.proArgument}" class="text-muted">KONTRA-Argument</small>
                                </div>
                                <p class="mb-1"></p>
                                <th:block th:switch="${actObject.weight}">
                                    <div th:case="'1'">
                                        <small class="text-muted">Gewichtung: 1- Schwach</small>
                                    </div>
                                    <div th:case="'2'">
                                        <small class="text-muted">Gewichtung: 2- Mittel</small>
                                    </div>
                                    <div th:case="'3'">
                                        <small class="text-muted">Gewichtung: 3- Stark</small>
                                    </div>
                                </th:block>
                            </a>
                        </div>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                        <h4>Argumente der Parteien:</h4>
                        <div class="list-group" th:each="actObject,iterStat : ${socialArguments}">
                            
                            <a class="list-group-item list-group-item-action flex-column align-items-start color-social">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${actObject.argument}"></h5>
                                    <i class="far fa-trash-alt fa-lg" th:onclick="deleteArgument([[${actObject.id}]])"></i>
                                    <small th:if="${actObject.proArgument}" class="text-muted">PRO-Argument</small>
                                    <small th:unless="${actObject.proArgument}" class="text-muted">KONTRA-Argument</small>
                                </div>
                                <p class="mb-1"></p>
                                <th:block th:switch="${actObject.weight}">
                                    <div th:case="'1'">
                                        <small class="text-muted">Gewichtung: 1 - Schwach</small>
                                    </div>
                                    <div th:case="'2'">
                                        <small class="text-muted">Gewichtung: 2 - Mittel</small>
                                    </div>
                                    <div th:case="'3'">
                                        <small class="text-muted">Gewichtung: 3 - Stark</small>
                                    </div>
                                </th:block>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </body>
    <script th:inline="javascript">
        $("#success-alert").fadeTo(3000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
        
        function deleteArgument(id) {
            
            console.log(id);
            
            var jqxhr = $.get( "/argument/delete/" + id, function() {
                  console.log("Triggered deletion of argument:" + id);
                })
                  .done(function() {
                    location.reload();
                  })
                  .fail(function() {
                    alert( "error" );
                    location.reload();
                  })
                  .always(function() {
                    console.log("Finished deletion process of argument:" + id);
                  });
        }
        
        
    </script>
</html>