<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="library_includes :: frontend_libraries_analyse" />
    <body>



        <div class="argument-data-div">
            <div class="rendering-data">
                <div id="current-angle" data-current-angle="0"></div>
                <div id="argument-example" data-weight=3 class="box">
                    <div class="row">
                        <div class="col field-argument" align="center">
                            Example
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" align="left">
                            <i class="far fa-arrow-alt-circle-left fa-lg" onclick="moveArgument(this.id, true)"></i>
                        </div>
                        <div class="col" align="center">
                            <i class="far fa-trash-alt fa-lg" onclick="removeArgument(this.id)"></i>
                        </div>
                        <div class="col" align="right">
                            <i class="far fa-arrow-alt-circle-right fa-lg" onclick="moveArgument(this.id, false)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="argument-data-group-1">
                <div class="argument" th:each="actArgument,iterStat : ${arguments_1}" th:data-id="${actArgument.id}" th:data-weight="${actArgument.weight}" th:data-category="${actArgument.category}" th:data-pro="${actArgument.proArgument ? 1 : 2}" th:data-argument="${actArgument.argument}"></div>
            </div>
            <div class="argument-data-group-2">
                <div class="argument" th:each="actArgument,iterStat : ${arguments_2}" th:data-id="${actArgument.id}" th:data-weight="${actArgument.weight}" th:data-category="${actArgument.category}" th:data-pro="${actArgument.proArgument ? 1 : 2}" th:data-argument="${actArgument.argument}"></div>
            </div>
            <div class="argument-data-group-3">
                <div class="argument" th:each="actArgument,iterStat : ${arguments_3}" th:data-id="${actArgument.id}" th:data-weight="${actArgument.weight}" th:data-category="${actArgument.category}" th:data-pro="${actArgument.proArgument ? 1 : 2}" th:data-argument="${actArgument.argument}"></div>
            </div>
            <div class="argument-data-group-4">
                <div class="argument" th:each="actArgument,iterStat : ${arguments_4}" th:data-id="${actArgument.id}" th:data-weight="${actArgument.weight}" th:data-category="${actArgument.category}" th:data-pro="${actArgument.proArgument ? 1 : 2}" th:data-argument="${actArgument.argument}"></div>
            </div>
        </div>


        <button onclick="addArguments(1)" id="button_arguments_1" type="button">Add Arg. - 1</button>
        <button onclick="addArguments(2)" id="button_arguments_2" type="button">Add Arg. - 2</button>
        <button onclick="addArguments(3)" id="button_arguments_3" type="button">Add Arg. - 3</button>
        <button onclick="addArguments(4)" id="button_arguments_4" type="button">Add Arg. - 4</button>


        <div id=scale-top>
            <div id="left-side-main">

                <div id="left-side-3">


                </div>

                <div id="left-side-2">

                </div>

                <div id="left-side-1">

                </div>


            </div>

            <div id="right-side-main">
                <div id="right-side-1">

                </div>
                <div id="right-side-2">

                </div>
                <div id="right-side-3">

                </div>
            </div>


        </div>
        <div id=triangle>

        </div>


    </body>


    <script th:inline="javascript">
    

        // Moves an argument box one step to the left. This will raise/sink the weight of the arguments, depends on which side it is. Parameter id = argument-id, Parameter toTheLeft = true if user clicked to left button, false if to right button.
        function moveArgument(id, toTheLeft) {

          var hiddenDiv = $("div[data-id=" + id + "]");

          var visibleDiv = document.getElementById(id);
          var oldColumn = visibleDiv.parentNode;
          var oldColumnId = oldColumn.id;
          var oldArgumentWeight = hiddenDiv.data("weight");
          var newArgumentWeight = oldArgumentWeight;

          var rightSide = oldColumnId.startsWith("right");
          console.log(newArgumentWeight);

          var targetColumnId = oldColumnId;
          // user clicked to the left button:
          if (toTheLeft == true) {
                targetColumnId = oldColumn.previousElementSibling.id;

            // if we are on right-side, we want to lower the argument
            if (rightSide) {
              newArgumentWeight = oldArgumentWeight - 1;
            } else {
              // we want to raise the argument
              newArgumentWeight = oldArgumentWeight + 1;
            }
          } else {
                targetColumnId = oldColumn.nextElementSibling.id;

                // if we are on right-side, we want to raise the argument
            if (rightSide) {
              newArgumentWeight = oldArgumentWeight + 1;
            } else {
              // we want to lower the argument
              newArgumentWeight = oldArgumentWeight - 1;
            }
          }

          moveArgumentToAnotherColumn(oldColumnId, targetColumnId, id, newArgumentWeight);
        }



        // Will move a specific argument from one column into another and also doing the data-change on the backend
        function moveArgumentToAnotherColumn(oldColumnId, newColumnId, argumentId, newWeight) {
          console.log("Will change argument " + argumentId + " to weight " + newWeight + " and move to column " + newColumnId);

          var jqxhr = $.get( "/argument/changeWeight/" + argumentId + "/" + newWeight, function() {
                  console.log("Triggered change-weight of argument:" + argumentId);
                })
                  .done(function() {
                    
                  })
                  .fail(function() {
                    alert( "error" );
                    
                  })
                  .always(function() {
                    console.log("Finished change weight backend update for argument:" + argumentId);
                  });

          var hiddenDiv = $("div[data-id=" + argumentId + "]");
          hiddenDiv.data("weight", newWeight);

          // At first, remove the old box from the old column
          var visibleDiv = document.getElementById(argumentId);
          visibleDiv.remove();

          // Then create the same box, just in another column
          var proOrContra = hiddenDiv.data("pro");
          var weight = hiddenDiv.data("weight");
          var argument = hiddenDiv.data("argument");
          var category = hiddenDiv.data("category");
          var argumentId = hiddenDiv.data("id");

          addBox(proOrContra, weight, argument, category, argumentId);

          // finally, recalculate boxes of the old and new column, to make sure the boxes are in correct height
          console.log(oldColumnId);
          console.log(newColumnId);
          recalculateBoxes(oldColumnId);
          recalculateBoxes(newColumnId);
          calculateAngle();
        }


        function removeArgument(id) {

          var jqxhr = $.get( "/argument/delete/" + id, function() {
                  console.log("Triggered deletion of argument:" + id);
                })
                  .done(function() {
                    
                  })
                  .fail(function() {
                    alert( "error" );
                    
                  })
                  .always(function() {
                    console.log("Finished deletion process of argument:" + id);
                  });

          var hiddenDiv = $("div[data-id=" + id + "]");
          // remove the hidden element in data-div
          hiddenDiv.remove();
          // remove visible element
          var visibleDiv = document.getElementById(id);
          var columnToRender = visibleDiv.parentNode.id;
          visibleDiv.remove();

          recalculateBoxes(columnToRender);
          calculateAngle();
        }

        // Get all boxes of the specific column and move them if required. Parameter: id of column.
        function recalculateBoxes(columnToRender) {

          var boxes = document.getElementById(columnToRender).children;

          var i = 0;
          for (actBox of boxes) {
            var oldBottom = actBox.style.bottom;
            var newBottom = 20;
            if (i > 0) {
              newBottom = newBottom + (55 * i);
            }

            gsap.fromTo(actBox, {
              bottom: oldBottom
            }, {
              bottom: newBottom,
              duration: 1
            });
            i++;
          }

        }

        function rotate(element) {

          if (element == 1) {
            r = r - 2;
            size = size + 2;
            document.getElementById("scale-top").style.transform = "rotate(" + r + "deg)";
            document.getElementById("left-box").style.height = size + "px";
            // document.getElementById("left-box").style.width =  size+"px"; 

          }
          if (element == 2) {
            r = r + 2;
            size2 = size2 + 2;
            document.getElementById("scale-top").style.transform = "rotate(" + r + "deg)";
            document.getElementById("right-box").style.height = size2 + "px";
            // document.getElementById("right-box").style.width =  size2+"px";
          }
          console.log("r:" + r + " sizes:" + size + " " + size2)
        }


        function calculateAngle() {

          // maximum angle is: 22
          var oldAngle = $("#current-angle").data("current-angle");
          console.log("Old angle: " + oldAngle);

          var newAngleFinal = 0;

          // get all left-side boxes
          var leftSide1Divs = document.getElementById("left-side-1").children.length;
          var leftSide2Divs = document.getElementById("left-side-2").children.length;
          var leftSide3Divs = document.getElementById("left-side-3").children.length;
          var weightLeftSide = (leftSide1Divs * 1) + (leftSide2Divs * 2) + (leftSide3Divs * 3);
          console.log("left w:" + weightLeftSide);

          // get all right-side boxes
          var rightSide1Divs = document.getElementById("right-side-1").children.length;
          var rightSide2Divs = document.getElementById("right-side-2").children.length;
          var rightSide3Divs = document.getElementById("right-side-3").children.length;
          var weightRightSide = (rightSide1Divs * 1) + (rightSide2Divs * 2) + (rightSide3Divs * 3);
          console.log("right w:" + weightRightSide);

          var rightSideBigger;
          var sameWeights = false;
          if (weightRightSide > weightLeftSide) {
            rightSideBigger = true;
          } else if (weightRightSide < weightLeftSide) {
            rightSideBigger = false;
          } else {
            sameWeights = true;
          }
          console.log("right bigger than left?" + rightSideBigger);

          if (sameWeights) {
            newAngleFinal = 0;
          } else if (rightSideBigger) {

            // If no elements are on the left side, set to maximum angle
            if (weightLeftSide == 0) {
              newAngleFinal = 15;
            } else {

              var percentage = weightRightSide / weightLeftSide;
              var newAngle = (percentage * 100) - 100;

              var truncated = newAngle - newAngle % 1;
              var newAngleFinal = 15 * (truncated / 100);

              if (newAngleFinal > 15) {
                newAngleFinal = 15;
              }
            }

          } else if (!rightSideBigger) {

            // If no elements are on the right side, set to maximum angle
            if (weightRightSide == 0) {
              newAngleFinal = "-" + 15;
            } else {

              var percentage = weightLeftSide / weightRightSide;
              var newAngle = (percentage * 100) - 100;

              var truncated = newAngle - newAngle % 1;
              var newAngleFinal = "-" + 15 * (truncated / 100);

              if (newAngleFinal < -15) {
                newAngleFinal = "-" + 15;
              }
            }
          }


          setAngle(oldAngle, newAngleFinal);
          $("#current-angle").data("current-angle", newAngleFinal);
          console.log("new angle:" + newAngleFinal)
        }

        function setAngle(oldAngle, newAngle) {

          // set new angle in hidden div
          $("#current-angle").data("current-angle", newAngle);

          gsap.fromTo("#scale-top", {
            rotate: oldAngle
          }, {
            rotate: newAngle,
            duration: 3
          });

        }


        function addArguments(groupId) {

          makeOldArgumentsGrey();

          $(".argument-data-group-" + groupId + " > div").each(function(index, value) {
            console.log("Adding argument of group " + groupId + ":" + $(this).data("argument"));
            console.log($(this).data("argument"));

            var proOrContra = $(this).data("pro");
            var weight = $(this).data("weight");
            var argument = $(this).data("argument");
            var category = $(this).data("category");
            var argumentId = $(this).data("id");

            addBox(proOrContra, weight, argument, category, argumentId);

          });

          unlockGroup(groupId);
          calculateAngle();
        }

        // add new div to the hidden-div area, to keep in mind that this group-arguments are visible
        function unlockGroup(groupId) {
          var hiddenParentDiv = $("div.rendering-data");
          var newDiv = document.createElement("div");
          newDiv.setAttribute("data-group-visible", groupId);
          hiddenParentDiv.append(newDiv);
        }

        function makeOldArgumentsGrey() {
          $("div.box").addClass("greyed-out");
        }

        // proOrContra: left = 1, right = 2
        // weight: 1 (Inner), 2, 3 (Outer)
        // category: 1 (economy), 2 (ecologic), 3 (social)
        // id: the unique-identifier of the argument
        function addBox(proOrContra, weight, text, category, id) {

        console.log("Entered addBox");
        
        
          var targetDiv;
          if (proOrContra == 1) {
            targetDiv = document.getElementById("left-side-" + weight);
          } else if (proOrContra == 2) {
            targetDiv = document.getElementById("right-side-" + weight);
          }

          var numberOfElements = targetDiv.children.length;
          var newHeight = numberOfElements * 55 + 20;
          // First element needs to be on top of the scale-top
          if (numberOfElements == 0) newHeight = 20;

          var newDiv = document.querySelector("div[id='argument-example']").cloneNode(true);
          newDiv.id = id;
          newDiv.querySelector("div.field-argument").textContent = text;
          
          console.log("Before trash");
          console.log(newDiv);
          newDiv.querySelector("i.fa-trash-alt").setAttribute("onClick", "removeArgument(" + id + ");");
          console.log("after trash");
          newDiv.querySelector("i.fa-arrow-alt-circle-left").setAttribute("onClick", "moveArgument(" + id + ", true);");
          newDiv.querySelector("i.fa-arrow-alt-circle-right").setAttribute("onClick", "moveArgument(" + id + ", false);");

          switch (category) {
            case 1:
              newDiv.className = "box color-economic";
              break;
            case 2:
              newDiv.className = "box color-ecologic";
              break;
            case 3:
              newDiv.className = "box color-social";
              break;
          }

          newDiv.style.bottom = newHeight + "px";

          targetDiv.append(newDiv);
        }

    
    
    </script>
</html>